@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum).eot");
  src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("../fonts/IranSans/woff2/IRANSansWeb(FaNum).woff2") format("woff2"), url("../fonts/IranSans/woff/IRANSansWeb(FaNum).woff") format("woff"), url("../fonts/IranSans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

.btn-blue {
  color: #fff;
  background-color: #233761;
  border-color: #2b4376;
}

.btn-blue:hover {
  color: #fff;
  background-color: #2c4377;
  border-color: #2b4376;
}

.btn-blue:focus, .btn-blue.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(43, 67, 118, 0.3);
          box-shadow: 0 0 0 0.2rem rgba(43, 67, 118, 0.3);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #2b4376;
  border-color: #2b4376;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #2b4376;
  border-color: #2b4376;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(43, 67, 118, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(43, 67, 118, 0.5);
}

body {
  font-family: IRANSans;
  background-color: #eeeeee;
}

.logo-container {
  background-color: #060851;
}

#mainNavbar.navbar-custom {
  width: 100%;
  background-color: #233761;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#mainNavbar.navbar-custom li > a {
  color: #ccc !important;
}

#mainNavbar.navbar-custom li > a:hover {
  background-color: #fff;
  color: #233761 !important;
}

#mainNavbar.navbar-custom .sign-btn {
  background-color: #fff;
  color: #000 !important;
}

#mainNavbar.navbar-custom .sign-btn i {
  color: #cd2e41;
}

@media (max-width: 768px) {
  #mainNavbar.navbar-custom .nav-item {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: .25rem;
  }
}

.nav-top {
  background-color: #233761;
  min-height: 35px;
}

.nav-top-new-container {
  background: #b34e11;
  padding: .3rem;
  color: #fff;
  border: 1px dotted #1d2124;
}

.nav-top-new-container:after {
  margin-right: 5px;
  top: 9px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #FF6825;
  border-width: 4px;
}

#top-nav .nav-link {
  height: 100% !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

#top-nav a:hover {
  background-color: #cd2e41;
}

#top-nav .nav-item:hover {
  background-color: #cd2e41;
}

.home-carousel img {
  width: 100%;
  height: 400px;
}

#carousel.swiper-container {
  width: 100%;
  height: 100%;
}

#carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#carousel .swiper-slide img {
  width: 100%;
  max-height: 450px;
}

#carousel .swiper-slide .title {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 20px;
  right: 20px;
  float: right;
  position: absolute;
  width: auto;
  z-index: 9999;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 1rem;
  margin-bottom: 50px;
}

@media only screen and (max-width: 426px) {
  #carousel .swiper-slide .title {
    height: 50px;
    font-size: 4vw;
    padding: .7rem;
    top: 0px;
    width: 100%;
    right: 0px;
    bottom: 0px;
    margin: 0;
    max-height: 100px;
  }
}

.divider {
  width: 100%;
  height: 50px;
  background: #fff url("http://localhost/azaruniv_training/img/diagonal.png") repeat scroll center center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

#headerSearch .search {
  border-radius: .25rem;
}

#headerSearch button.btn-default {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  color: #CCC;
  z-index: 3;
}

#headerSearch button.btn-default .fa-search {
  vertical-align: middle;
}

#headerSearch .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

#todayDate {
  font-size: .9em;
  color: #fcfcfc;
}

.text-blue {
  color: #233761 !important;
}

.bg-blue {
  background-color: #233761 !important;
}

.bg-light-blue {
  background-color: #060851 !important;
}

.footer-top {
  height: 10px;
  width: 100%;
}

a.hover-link:hover {
  text-decoration: none;
  color: #cd2e41 !important;
}

.tab-container {
  border: 1px solid #cd2e41;
  border-top: 0px;
  min-height: 200px;
  background-color: white;
}

.tab-container-header {
  border: 1px solid #cd2e41;
  border-radius: .25rem;
  border-bottom: 0px;
}

.tab-container-header .nav-item {
  background-color: #060851;
}

.tab-container-header .nav-item a {
  color: #fff;
}

.tab-container-header .nav-item a.active {
  color: #cd2e41;
}

.tab-img-link {
  padding: .7rem;
  border-radius: 0.25rem;
  border: 1px solid #eeeeee;
}

.heading-primary {
  font-size: 1.3em;
}

.tab-card-img {
  width: 100%;
  height: 180px !important;
  -webkit-transition: transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.tab-card-img:hover {
  -webkit-transform: scale(0.8);
  transform: scale(1.05);
}

#coursesList .tab-card-img {
  height: 150px !important;
}

footer .nav-list a, footer .nav-list li {
  padding: .25rem;
}

footer .nav-list a {
  display: block;
}

footer .nav-list a:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.route-container {
  padding: .25rem;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: .25rem;
  height: 35px;
}

.content-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.news-container {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.news-container .nav-list {
  margin-bottom: 0;
  list-style: none;
}

.news-container .nav-list li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.news-container .nav-list a {
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  border-bottom: 1px solid #EDEDDE;
  padding: 8px 0;
  display: block;
  color: #666;
  font-size: 0.9em;
  text-decoration: none;
}

.news-container .nav-list a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
  border-right: 4px solid #cd2e41;
  border-left: 0px solid transparent;
}

.news-container a {
  padding: .25rem;
  color: #233761;
  font-size: .9em;
}

.news-container a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.red-divider {
  height: 1px;
  background-color: #cd2e41;
}

.content-img-container {
  width: 80%;
  margin: auto;
  border: 1px solid #eeeeee;
  border-radius: .25rem;
  padding: .25rem;
}

.content-img {
  width: 100%;
}

.master-img-container {
  width: 15%;
  border: 1px solid #eeeeee;
  padding: .25rem;
}

.master-img {
  width: 100%;
  height: 100px;
}

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #b2b2b2;
  background: rgba(178, 178, 178, 0.7);
  padding: 20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover {
  background: #b2b2b2;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover .fa {
  padding-top: -10px;
}

.scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.active a {
  color: #060851 !important;
}

.user-info-container {
  border: 1px solid #eeeeee;
  border-radius: .25rem;
}

.user-img-container {
  position: relative;
  max-width: 100%;
  height: 150px;
  background-color: #ececec;
  border-radius: .25rem;
}

.user-img-container img {
  height: 100%;
  width: 100%;
  border-radius: .25rem;
}

.img-upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 500;
}

.img-upload-btn {
  color: gray;
  background-color: rgba(236, 236, 236, 0);
  font-size: 2rem;
  font-weight: bold;
}

.img-upload-btn:hover {
  cursor: pointer !important;
  color: #1e1e1e;
}

.img-upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.img-upload-btn-wrapper input[type=file]:hover {
  cursor: pointer !important;
  color: #1e1e1e;
}

.user-ticket-container {
  border: 1px solid #a7a7a7;
  border-radius: .25rem;
}

.user-ticket-container .chat-view-container {
  max-height: 400px;
  overflow-y: scroll;
}

.chat-view {
  padding-left: .25rem;
}

.jDate {
  font-size: .8em;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1061px) and (min-width: 768px) {
  body {
    font-size: 0.9em;
  }
}
