.btn-blue {
  color: #fff;
  background-color: $navbarColor;
  border-color: #2b4376;
}

.btn-blue:hover {
  color: #fff;
  background-color: #2c4377;
  border-color: #2b4376;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(43, 67, 118, 0.3);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #2b4376;
  border-color: #2b4376;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #2b4376;
  border-color: #2b4376;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(43, 67, 118, 0.5);
}