// Iran Sans Font
$iranSansFontPath:"../fonts/IranSans";
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum).eot');
  src: url('#{$iranSansFontPath}/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('#{$iranSansFontPath}/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('#{$iranSansFontPath}/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$iranSansFontPath}/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
// styles begins

//colors
@import 'variables';
@import "buttons";

body{
  font-family: IRANSans;
  background-color: #eeeeee;
}

.logo-container{
  background-color: $lightBlue;
}
.d-hide{
  visibility: hidden !important;
}
.rules{
  list-style-type: decimal;
  padding-right: .75rem;
  li{
    margin-bottom: .25rem;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: .25rem;
    cursor: pointer;
  }
}
#mainNavbar.navbar-custom {
  width: 100%;
  background-color: $navbarColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  li>a{
    color: #ccc !important;
  }
  li>a:hover{
    background-color: #fff;
    color:$navbarColor !important;
  }
  .sign-btn{
    background-color: #fff;
    color: #000 !important;
    i{
      color:$red;
    }
  }

   @media (max-width: 768px) {
     .nav-item {
       margin-right: 0;
       margin-left: 0;
       margin-bottom: .25rem;
     }
   }

}
.nav-top{
  background-color: $navbarColor;
  min-height: 35px;
}
.nav-top-new-container{
  background: #b34e11;
  //display: inline-block;
  padding: .3rem;
  color: #fff;
  border: 1px dotted #1d2124;
  &:after{
    margin-right: 5px ;
    top: 9px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194,225,245,0);
    border-right-color: #FF6825;
    border-width: 4px;
  }
}
#top-nav .nav-link{
  height: 100% !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
#top-nav{
  a:hover{
    background-color: $red;
  }
  .nav-item:hover{
  background-color: $red;
  }
}
.home-carousel img{
  width: 100%;
  height: 400px;

}

#carousel.swiper-container {
  width: 100%;
  height: 100%;
}
#carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  img{
    width: 100%;
    max-height: 450px;
  }
  .title {
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 20px;
    right: 20px;
    float: right;
    position: absolute;
    width: auto;
    z-index: 9999;
    color: #FFFFFF;
    font-size: 1.2em;
    padding: 1rem;
    margin-bottom: 50px;
    //transition: visibility 1s fade_in($red,0.5);
  }
  @media only screen and(max-width:426px) {
    .title{
      height: 50px;
      font-size: 4vw;
      padding: .7rem;
      top:0px;
      width: 100%;
      right: 0px;
      bottom:0px;
      margin: 0;
      max-height: 100px;
    }
  }
}


.divider{
  width: 100%;
  height: 50px;
  background: #fff url('http://localhost/azaruniv_training/img/diagonal.png') repeat scroll center center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}
#headerSearch{
    .search{
      -webkit-border-radius: .25rem;
      -moz-border-radius: .25rem;
      border-radius: .25rem;
    }
    button.btn-default{
      border: 0;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      color: #CCC;
      z-index: 3;
      .fa-search{
        vertical-align: middle;
      }
    }
    .input-group-btn{
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
    }
}
#todayDate{
  font-size: .9em;
  color: #fcfcfc;
}
.text-blue{
  color:$navbarColor !important;
}
.bg-blue{
  background-color: $navbarColor !important;
}
.bg-light-blue{
  background-color: $lightBlue !important;
}
.footer-top{
  height: 10px;
  width: 100%;
}

a.hover-link:hover{
  text-decoration: none;
  color: $red !important;
}
.tab-container{
  border: 1px solid $red;
  border-top: 0px;
  min-height: 200px;
  background-color: white;
}
.tab-container-header{
  border:1px solid $red;
  border-radius: .25rem;

  border-bottom: 0px;
  .nav-item{
    a{

    color: #fff;
    }
    a.active{
      color: $red;
    }
    background-color: $lightBlue;

  }
}
.tab-img-link{
  display: block;
  padding: .3rem;
  border-radius: 0.25rem;
  border: 1px solid #eeeeee;
}
#coursesList{
  .tab-img-link{
    max-height: 160px;
    display: block;
    padding: .3rem;
    border-radius: 0.25rem;
    border: 1px solid #eeeeee;
  }
}

.tab-container{
  .tab-img-link{
    max-height:fit-content;
    display: block;
    padding: .3rem;
    border-radius: 0.25rem;
    border: 1px solid #eeeeee;
  }
}
.heading-primary{
  font-size: 1.3em;
}
.tab-card-img{

  width: 100%;
  height: 190px !important;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  &:hover{
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(1.05);
  }
}
.tab-card-title{
  padding-top: 1rem;
}
.card-desc{
  min-height: 6em !important;
  max-height: 6em !important;
  margin-bottom: 20px;
  overflow: hidden;
}
#coursesList{
  .tab-card-img{
  height: 150px !important;
  }
}
footer{
  .nav-list{

    a,li{
      padding: .25rem;
    }
    a{
      display: block;
    }
    a:hover{
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
}

.route-container{
  padding: .25rem;
  background-color: white;
  border: 1px solid rgb(186, 186, 186);
  border-radius: .25rem;
  height: 35px;

}
.course-price{
  text-decoration: none;
  padding: .25rem .5rem;
  background-color: rgba(32, 116, 22, 0.69);
  text-align: center;
  border-radius: .25rem;
  color: #fff;
  min-width: 100px;
  transition: background-color .2s;
  &:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgba(41, 135, 28, 0.69);
  }

}
.course-list a{
  &:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(41, 135, 28, 0.69);
  }
}

.content-container{
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.30);
  border-radius: .25rem;
  @media (min-width: 576px) {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}
.news-container{
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.30);
  border-radius: .25rem;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  .nav-list{
    margin-bottom: 0;
    list-style: none;
    li{
      margin: 0;
      padding: 0;
      display: block;
      position: relative;

    }
    a{
      transition: background 0.1s;
      border-bottom: 1px solid #EDEDDE;
      padding: 8px 0;
      display: block;
      color: #666;
      font-size: 0.9em;
      text-decoration: none;
      &:before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #333;
        margin-left: 10px;
        margin-right: 5px;
        position: relative;
        border-right: 4px solid $red;
        border-left: 0px solid transparent;
      }
    }
  }
  a{
    padding: .25rem;
    color: $navbarColor;
    font-size: .9em;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
.no-shadow{
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
}
.red-divider{
  height: 1px;
  background-color: $red;
}
.grey-divider{
  height: 1px;
  border-radius: 2px;
  margin: .25rem;
  background-color: rgba(43, 67, 118, 0.31);
}
.content-img-container{
  width: 80%;
  margin: auto;
  border: 1px solid #eeeeee;
  border-radius: .25rem;
  padding: .25rem;
}
.content-img{
  width: 100%;
}
.master-img-container{
  width: 40%;
  border: 1px solid #eeeeee;
  padding: .25rem;
}
.master-img{
  width: 100%;
  height: 100px;
}



.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px;
}
.scroll {
  position:absolute;
  right:20px;
  bottom:20px;
  background:#b2b2b2;
  background:rgba(178,178,178,0.7);
  padding:20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.scroll:hover {
  background:rgba(178,178,178,1.0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.scroll:hover .fa {
  padding-top:-10px;
}
.scroll .fa {
  font-size:30px;
  margin-top:-5px;
  margin-left:1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}


.active{
  background-color: #ffffff;

  border: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  a{

  }

}
.active > a{
  color: $lightBlue !important;
}

.admin-nav-active{
  background-color: #fff;
  color:$navbarColor !important;

}

.user-info-container{
  border: 1px solid #eeeeee;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}
.user-img-container{
  position: relative;
  max-width: 100%;
  height: 150px;
  background-color: #ececec;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  img{
    height: 100%;
    width: 100%;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
  }
}

.img-upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 500;
}

.img-upload-btn {

  color: gray;
  background-color: rgba(236, 236, 236, 0);
  font-size: 2rem;
  font-weight: bold;

  &:hover{
    cursor: pointer !important;
    color: #1e1e1e;
  }

}

.img-upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  &:hover{
    cursor: pointer !important;
    color: #1e1e1e;
  }
}
.user-ticket-container{
  .admin-chat-user-item{
    color: $lightBlue;
    transition: background-color .2s;
    &:hover{
      background-color: #eeeeee !important;
    }
  }
  .admin-chat-view-sidebar{
    max-height: 500px;
    overflow-y: scroll;
  }
  a{
    text-decoration: none;
    color: $red;
  }

  .admin-chat-view-user{
    text-decoration: none;
    color: $lightBlue;
    div{
      padding-top: 0 !important;
      padding-bottom: .25rem !important;
    }

  }
  border: 1px solid #a7a7a7;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  .chat-view-container{
  max-height: 400px;
  overflow-y: scroll;
  }
}
.chat-view{
  padding-left: .25rem;
  .jDate{
    font-size: .8em;
  }
}
.jDate{
  font-size: 1em;
}
.students-list{
  max-height: 500px;
  overflow-y: scroll;
  list-style-type: none;
  li{
    margin-bottom: .5rem;
    min-height: 45px;
    transition: background-color .3s;
    &:hover{
      cursor:  default;
      background-color: #eeeeee;
    }
  }
  .student-img-container{
    background-color: #d6d6d6;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
}
.professor-course{
  min-height: 600px;
}

#adminNavbar{
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
  }
  li.dropdown:hover > .dropdown-menu {
    display: flex;
  }
  width: 100%;
  background-color: $navbarColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  li>a{
    color: #ccc;
  }
  .navbar-nav > li.dropdown:hover > a,
  .navbar-nav > li.dropdown:hover > a:hover,
  .navbar-nav > li.dropdown:hover > a:focus {
     background-color: #fff;
     color:$navbarColor !important;
  }
  .dropdown-menu{
    flex-wrap: wrap;
    justify-content: start;
    margin-top: -1px;
    border-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    a{
      width: auto;
    }
    a:hover{
      color: $red;
    }
  }
  @media(max-width: 767px){
    li.dropdown:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-menu{
      margin-top:0px ;
      a{
        width: 100%;
      }
    }
  }
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;

  padding: 0.25rem .75rem;
  padding-bottom:0 ;


  nav-mega {
    width: 100%;
  }
  .nav-mega .dropdown {
    position: static;
  }
  .nav-mega .dropdown-menu.mega-menu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    min-width: auto;
    width: 100%;
    margin-top: 0;
    padding: 0;
    border-color: #ccc;
  }
  .nav-mega .dropdown-menu.mega-menu > li {
    padding: 20px;
  }
  .nav-mega .dropdown-menu.mega-menu .media-list .media {
    padding: 10px;
    font-size: 13px;
  }
  .nav-mega .dropdown-menu.mega-menu .media-list .media-heading {
    font-size: 16px;
  }

}
.admin-news-container{
  max-height: 600px !important;
  overflow-y: scroll;
  .nav-list{

    li{
      border-bottom: 1px solid #EDEDDE;
    }
    a{
      display: inline-block;
    }
  }

}
.btn-delete{
  background-color: transparent;
  color: $red;
  transition: background-color .2s,color .2s;
  &:hover{
    background-color: rgba(255, 66, 82, 0.91);
    color: #eeeeee;
  }
}

.admin-course-container{
  padding: .5rem;
  min-height: 200px;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: .25rem;
  .admin-course-img-container{

    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  a{
    text-decoration: none;
    color: $lightBlue;

  }
  a.btn{
    text-decoration: none;
    color: #e1e1e1;
  }
  p{
    min-height: 6em !important;
    max-height: 6em !important;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
.admin-course-card-header{
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.table{
  td{
    padding: .25rem;
  }
  .student-img-container{
    background-color: #d6d6d6;
    height: 45px;
    width: 45px;
    border-radius: 50%;

    img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
}
.navbar-ticket{
  min-width: 120px;

  .navbar-ticket-a{
    position: relative;
  }
}
.new-ticket{
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 20px;
  min-width: 20px;
  padding-left: 0.03rem;
  padding-right: 0.03rem;
  text-align: center;

  margin-left: .1rem;
  margin-top: .4rem;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgb(202, 47, 60);
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.sever-alert{
  z-index: 9999;
  position: fixed;
  top: 60px;
  right: 0;

}

@media only screen and (max-width: 768px) {

  body {
    font-size: 0.8em;
  }

}
@media only screen and (max-width: 1061px) and (min-width: 768px) {

  body {
    font-size: 0.9em;
  }

}
@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
@page { size: auto;  margin: 0mm; }
